#alert{
    width: 50%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}