*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background-image: url('/public/abstractbg.jpeg');
  background-repeat: repeat;
  background-size: cover;
  /* display: block; */
}